root {
    display: block;
}

Hyperlink {
    -fx-text-fill: #0f9ee7;
    -fx-underline: false;
}

Hyperlink:hover {
    -fx-text-fill: #0f9ee7;
    -fx-underline: true;
}

Hyperlink:pressed {
    -fx-text-fill: blue;
    -fx-underline: true;
}